<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      Seleção de Curriculos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p></p>
  <p></p>
  <p>
    <ion-label for="txEmail">Insira seus dados</ion-label>
    <ion-input type="email"
    [(ngModel)]="email" placeholder="Digite o seu e-mail">

    </ion-input>
  </p>
  <p>
    <ion-label for="txSenha">Senha</ion-label>
    <ion-input type="password" name="txSenha"
    [(ngModel)]="senha" placeholder="Digite sua senha">
    </ion-input>
  </p>
  <p>
    <ion-button (click)="login()">Entrar</ion-button>
  </p>
  <p class="msg">
    {{mensagem}}
    </p>
</ion-content>
